
:root {
    /*! Typography - Size */
    --font-size-h1: 26px;
    --font-size-h2: 24px;
    --font-size-h3: 22px;
    --font-size-h4: 20px;
    --font-size-h5: 18px;
    --font-size-h6: 16px;
    --font-size-display: 36px;
    --font-size-base: 16px;
    --font-size-s: 14px;
    --font-size-xs: 12px;
    --font-size-xxs: 10px;
    --font-size-label: 11px;
    /*! Typography - Weight */
    --font-light: 200;
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
    /*! Color - Brand */
    --color-primary: #005187;
    --color-secondary: #00AC65;
    --color-primary-hover: #1A4172;
    --color-primary-selected: rgba(20, 110, 245, 0.12);
    --color-primary-lightest: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    --color-primary-light: #E5F5FC;
    /*! Color - Focus */
    --color-focus-outer: #DF7C2E;
    --color-focus-inner: var(--color-neutral-10);
    /*! Color - Extended */
    --color-red-lightest: #faeaea;
    --color-red-lighter: #e9aaaa;
    --color-red-light: #d96a6a;
    --color-red: #c92a2a;
    --color-red-dark: #ab2424;
    --color-red-darker: #8d1d1d;
    --color-red-darkest: #6f1717;
    --color-orange-lightest: #fef0e6;
    --color-orange-lighter: #fcc29c;
    --color-orange-light: #f99551;
    --color-orange: #DF7C2E;
    --color-orange-dark: #d25806;
    --color-orange-darker: #ad4805;
    --color-orange-darkest: #883904;
    --color-yellow-lightest: #fef5e5;
    --color-yellow-lighter: #fbd999;
    --color-yellow-light: #f8bc4c;
    --color-yellow: #f59f00;
    --color-yellow-dark: #d08700;
    --color-yellow-darker: #ac6f00;
    --color-yellow-darkest: #875700;
    --color-lime-lightest: #f1f8e8;
    --color-lime-lighter: #c7e3a2;
    --color-lime-light: #9ecd5c;
    --color-lime: #74b816;
    --color-lime-dark: #639c13;
    --color-lime-darker: #51810f;
    --color-lime-darkest: #40650c;
    --color-green-lightest: #ebf7ed;
    --color-green-lighter: #afe0b8;
    --color-green-light: #73c982;
    --color-green: #37b24d;
    --color-green-dark: #2f9741;
    --color-green-darker: #267d36;
    --color-green-darkest: #1e622a;
    --color-teal-lightest: #e6f2ef;
    --color-teal-lighter: #9cccbd;
    --color-teal-light: #52a58c;
    --color-teal: #087f5b;
    --color-teal-dark: #076c4d;
    --color-teal-darker: #065940;
    --color-teal-darkest: #044632;
    --color-cyan-lightest: #e7f2f4;
    --color-cyan-lighter: #9eccd3;
    --color-cyan-light: #56a6b2;
    --color-cyan: #0d8091;
    --color-cyan-dark: #0b6d7b;
    --color-cyan-darker: #095a66;
    --color-cyan-darkest: #074650;
    --color-blue-lightest: #e8f2fa;
    --color-blue-lighter: #a3c9ea;
    --color-blue-light: #5fa1db;
    --color-blue: #1a79cb;
    --color-blue-dark: #1667ad;
    --color-blue-darker: #12558e;
    --color-blue-darkest: #0e4370;
    --color-indigo-lightest: #eceffd;
    --color-indigo-lighter: #b3c1f7;
    --color-indigo-light: #7b92f1;
    --color-indigo: #4263eb;
    --color-indigo-dark: #3854c8;
    --color-indigo-darker: #2e45a5;
    --color-indigo-darkest: #243681;
    --color-violet-lightest: #f1edfd;
    --color-violet-lighter: #c6b6f6;
    --color-violet-light: #9b7fef;
    --color-violet: #7048e8;
    --color-violet-dark: #5f3dc5;
    --color-violet-darker: #4e32a2;
    --color-violet-darkest: #3e2880;
    --color-grape-lightest: #f7ecfa;
    --color-grape-lighter: #dfb2e9;
    --color-grape-light: #c678d9;
    --color-grape: #ae3ec9;
    --color-grape-dark: #9435ab;
    --color-grape-darker: #7a2b8d;
    --color-grape-darkest: #60226f;
    --color-pink-lightest: #fbebf0;
    --color-pink-lighter: #efadc4;
    --color-pink-light: #e27098;
    --color-pink: #d6336c;
    --color-pink-dark: #b62b5c;
    --color-pink-darker: #96244c;
    --color-pink-darkest: #761c3b;
    /*! Color - Neutral */
    --color-neutral-0: #ffffff;
    --color-neutral-1: #f8f9fa;
    --color-neutral-2: #f1f3f5;
    --color-neutral-3: #e9ecef;
    --color-neutral-4: #dee2e6;
    --color-neutral-5: #ced4da;
    --color-neutral-6: #adb5bd;
    --color-neutral-7: #6a7178;
    --color-neutral-8: #4f575e;
    --color-neutral-9: #272b30;
    --color-neutral-10: #101213;
    /*! Color - Semantic */
    --color-error-light: #fceaea;
    --color-error: #dc2020;
    --color-warning-light: #fdf6e5;
    --color-warning: #e9a100;
    --color-success-light: #eaf3eb;
    --color-success: #29823b;
    --color-info-light: #e5f5fc;
    --color-info: #017aad;
    /*! Overlays */
    --overlay-background: rgba(50,106,157,0.7);
    /*! Space - Sizes */
    --space-none: 0;
    --space-xs: 4px;
    --space-s: 8px;
    --space-base: 16px;
    --space-m: 24px;
    --space-l: 32px;
    --space-xl: 40px;
    --space-xxl: 48px;
    /*! Border Radius */
    --border-radius-none: 0;
    --border-radius-soft: 8px;
    --border-radius-rounded: 16px;
    --border-radius-circle: 100%;
    /*! Border Size */
    --border-size-none: 0;
    --border-size-s: 1px;
    --border-size-m: 2px;
    --border-size-l: 3px;
    /*! Elevation / Shadow */
    --shadow-none: none;
    --shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.1);
    --shadow-s: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-m: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-l: 0 6px 8px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 8px 10px rgba(0, 0, 0, 0.1);
    /*! App Settings */
    --header-color: #005187;
    --color-background-body: #F4F5F6;
    --color-background-login: #F4F5F6;
    --header-size: 80px;
    --header-size-content: 48px;
    --side-menu-size: 285px;
    --bottom-bar-size: 56px;
    --footer-height: auto;
    /*! Set the StatusBar variable that will be overwritten when it will be enable due to miss calculations! */
    --status-bar-height: 0px;
    /*! iOS Safe Areas (Notch Support) */
    --os-safe-area-top: env(safe-area-inset-top);
    --os-safe-area-right: env(safe-area-inset-right);
    --os-safe-area-bottom: env(safe-area-inset-bottom);
    --os-safe-area-left: env(safe-area-inset-left);
    /*! Layer System */
    --layer-system-scale: 5;
    --layer-above: var(--layer-system-scale);
    --layer-below: calc(-1 * var(--layer-system-scale));
    /*! Global Layers */
    --layer-global-screen: 0;
    --layer-global-elevated: calc(var(--layer-above) + var(--layer-global-screen));
    --layer-global-navigation: calc(var(--layer-above) + var(--layer-global-elevated));
    --layer-global-off-canvas: calc(var(--layer-above) + var(--layer-global-navigation));
    --layer-global-instant-interaction: calc(var(--layer-above) + var(--layer-global-off-canvas));
    /*! Auxiliary */
    --layer-global-negative: -1;
    --layer-global-auto: auto;
    /*! Local Layers */
    --layer-local-tier-1: 1;
    --layer-local-tier-2: 2;
    --layer-local-tier-3: 3;
    --layer-local-tier-4: 4;
    --layer-local-tier-5: 5;
    /*! Fixed/Absolute Patterns that need their variables on a global level to be referenced on all DOM contexts */
    --osui-bottom-sheet-layer: var(--layer-global-off-canvas);
    --osui-notification-layer: var(--layer-global-instant-interaction);
    --osui-popup-layer: var(--layer-global-off-canvas);
    --osui-sidebar-layer: var(--layer-global-off-canvas);
    --osui-menu-layer: calc(var(--layer-global-navigation) + var(--layer-local-tier-2));
}




/* HEADER */


header {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-size);
    margin: 0 auto;
    z-index: 999;
    border: none;
    outline: none;
    background-color: var(--color-primary);
    -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

main {
    padding-top: calc(var(--header-size) + var(--space-m));
}


.navbar-nav .nav-link, .navbar-nav .nav-link.show, .navbar-nav .nav-link.active {
    color: var(--color-neutral-0);
}

    .navbar-nav .nav-link:hover {
        color: var(--color-primary-light);
    }


.dropdown.UserMenu button {
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    width: max-content;
    color: var(--color-neutral-0);
}

.dropdown.UserMenu button img {
    position: relative;
    display: inline-flex;
    width: 48px;
    height: 48px;
    border-radius: var(--border-radius-circle);
    margin-right: var(--space-s);
    border: 2px solid var(--color-secondary);
}

.dropdown.UserMenu button span{
    font-size:90%;
}

    .dropdown.UserMenu button::after {
        display: none;
    }

    .dropdown.UserMenu button i {
        position: relative;
        display: inline-block;
        margin-left: var(--space-base);
    }

.menu-icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 48px;
    height: 48px;
    color: var(--color-neutral-0);
    background-color: var(--color-primary-hover);
    border-radius: var(--border-radius-circle);
    margin-right: var(--space-base);
    transition: all 0.35s ease;
}

.menu-icon:hover{
    color: var(--color-blue-ligh);
    background-color: var(--color-blue-lightest);
}


.menu-icon i{
    position:relative;
    display:block;
    margin:0 auto;
}

.menu-icon .notification-count {
    position: absolute;
    top:5px;
    left:5px;
    width: 20px;
    height: 20px;
    text-align:center;
    line-height:20px;
    font-weight:600;
    font-size: 12px;
    font-style: normal;
    background-color:#D96B2B;
    border-radius:var(--border-radius-circle);
}

.dropdown.topuserprofile .dropdown-menu {
    padding: var(--space-none);
    width: max-content;
}

    .dropdown.topuserprofile .dropdown-menu .userinfos {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid var(--color-neutral-4);
        padding: var(--space-base) var(--space-s);
    }

        .dropdown.topuserprofile .dropdown-menu .userinfos img {
            position: relative;
            display: inline-flex;
            width: 48px;
            height: 48px;
            border-radius: var(--border-radius-circle);
            border: 1px solid var(--color-neutral-4);
            margin-right: var(--space-s);
        }

        .dropdown.topuserprofile .dropdown-menu .userinfos .userinfo {
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: 90%;
            padding-right: var(--space-base);
        }

            .dropdown.topuserprofile .dropdown-menu .userinfos .userinfo label {
                font-weight: 600;
                color: var(--color-primary);
                padding-bottom: var(--space-xs);
            }

            .dropdown.topuserprofile .dropdown-menu .userinfos .userinfo span {
                font-size: 90%;
                color: var(--color-neutral-6);
            }

    .dropdown.topuserprofile .dropdown-menu .dm-lnk {
        position: relative;
        display: block;
    }

        .dropdown.topuserprofile .dropdown-menu .dm-lnk a {
            position: relative;
            display: block;
            padding: var(--space-s) var(--space-base);
            font-size: 80%;
            border-bottom: 1px solid var(--color-neutral-5);
            color: var(--color-neutral-7);
        }

        .dropdown.topuserprofile .dropdown-menu .dm-lnk.logout-lnk a {
            display: flex;
            align-items: center;
            color: var(--color-error);
        }

            .dropdown.topuserprofile .dropdown-menu .dm-lnk.logout-lnk a i {
                margin-right: var(--space-s);
            }

.dropdown.topuserprofile > a.dropdown-toggle{
    position:relative;
    display:flex;
    align-items:center;
    width: max-content;
}

.dropdown.topuserprofile > a.dropdown-toggle img{
    position:relative;
    display:block;
    width:46px;
    height:46px;
    border-radius: var(--border-radius-circle);
    border:2px solid var(--color-secondary);
    margin-right:var(--space-s);
}

.dropdown.topuserprofile > a.dropdown-toggle span{
    position:relative;
    display:block;
    color: var(--color-neutral-0);
    margin-right:var(--space-base);
}

.dropdown.topuserprofile > a.dropdown-toggle i{
    color: var(--color-neutral-0);
}

.mini-userprofile .userinfos {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid var(--color-neutral-4);
    padding-bottom: var(--space-base);
    margin-bottom: var(--space-base);
}

.mini-userprofile .userinfos img{
    position: relative;
    display:inline-flex;
    width: 48px;
    height: 48px;
    border-radius: var(--border-radius-circle);
    border: 1px solid var(--color-neutral-6);
    margin-right: var(--space-s);
}

.mini-userprofile .userinfos .userinfo{
    position: relative;
    display: block;
    width:100%;
    font-size:90%;
}

.mini-userprofile .userinfos .userinfo label{
    position:relative;
    display:block;
    padding-bottom:var(--space-xs);
    color: var(--color-primary);
    font-weight:600;
}

.mini-userprofile .userinfos .userinfo span{
    position:relative;
    display:block;
    font-size:90%;
    color: var(--color-neutral-6)
}
















/* ---- HOME PAGE BLOCK ---- */

.home-dashboard{
   padding-top:var(--space-base);
   margin-bottom: var(--space-l);
}

.home-userinfos{
    position:relative;
    display:flex;
    align-items :center;
}

.home-userinfos img{
    position:relative;
    display:inline-flex;
    width:80px;
    height:80px;
    margin-right:var(--space-base);
    border:2px solid var(--color-neutral-5);
    border-radius: var(--border-radius-circle);
}

.home-userinfos .home-userinfo{
    position:relative;
    display:flex;
    flex-direction:column;
}

.home-userinfos .home-userinfo span{
    color:var(--color-primary);
    padding-bottom:var(--space-xs);
}

.home-userinfos .home-userinfo label{
    font-size:130%;
    font-weight:600;
    color:var(--color-neutral-8);
}



.home-stats{
    min-height: 100%;
}


.home-stats .stat-item {
    position: relative;
    display: flex;
    align-items:center;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-soft);
    border:1px solid var(--color-neutral-3);
    background-color: var(--color-neutral-0);
    padding:var(--space-base);
}

.home-stats .stat-item .stat-info{
    position:relative;
    display:inline-flex;
    flex-direction: column;
    width:100%;
}

.home-stats .stat-item .stat-info span{
    font-weight:600;
    font-size:125%;
    color: var(--color-primary);
}

.home-stats .stat-item .stat-info label{
    font-size:80%;
    color:var(--color-neutral-8);
}

.home-stats .stat-item .stat-icon{
    font-size:250%;
    color: var(--color-primary);
}

.prog-cards {
    position: relative;
    display: grid;
    width: 100% !important;
    grid-template-columns: 33% 33% 31.5%;
    gap: var(--space-base);
}

.prog-cards .prog-cards-item{
    position: relative;
    display:inline-flex;
    align-items:center;
    border:1px solid var(--color-neutral-3);
    background-color: var(--color-neutral-0);
    border-radius: var(--border-radius-soft);
    padding: var(--space-base) var(--space-base) var(--space-m);
    background-image: url(../images/programbg.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}

.prog-cards .prog-cards-item.external-card{
    background-color: var(--color-primary);
}

.prog-cards .prog-cards-item .prog-title {
    position: relative;
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    color: var(--color-primary);
}

.prog-cards .prog-cards-item.external-card .prog-title{
    color: var(--color-neutral-0);
}

.prog-cards .prog-cards-item .prog-title img{
    position:relative;
    display:block;
    width: 74px;
    margin-bottom: var(--space-base);
}

.prog-cards .prog-cards-item .prog-title h5{
    padding-bottom:var(--space-xs);
}

.prog-cards .prog-cards-item .prog-title h5 span{
    font-weight:normal;
    font-size:90%;
}

.prog-cards .prog-cards-item .prog-title > span{
    position: relative;
    display:block;
    padding-top: var(--space-s);
    padding-bottom: var(--space-base);
    font-size:85%;
}



.prog-cards .prog-cards-item .prog-card-action{
    position: relative;
    display:inline-flex;
    align-items: center;
    width:32px;
    height:32px;
    border:1px solid var(--color-secondary);
    border-radius: var(--border-radius-soft);
    transition: all 0.35s ease; 
    color:var(--color-secondary);
}

.prog-cards .prog-cards-item.external-card .prog-card-action{
    color: var(--color-neutral-0);
    border-color: var(--color-neutral-0);
}

.prog-cards .prog-cards-item .prog-card-action i{
    position:relative;
    display:block;
    width: 100%;
    height:100%;
    text-align: center;
    line-height:32px;
    font-weight:600;
}

.prog-cards .prog-cards-item.external-card .prog-card-action i{
    font-weight: normal;
    color: var(--color-neutral-0);
}

.prog-cards .prog-cards-item .prog-card-action:hover{
    background-color: var(--color-secondary);
    color: var(--color-neutral-0);
}



/* CAROUSEL STYLE */

.tip-card{
    display:flex;
    background-color:var(--color-neutral-1);
    border-radius:var(--border-radius-soft);
    border:1px solid var(--color-neutral-3);
    overflow:hidden;
    align-items:center;
}

.tip-card img{
    height:200px;
}

.tip-card .tip-details{
    position:relative;
    display:inline-flex;
    padding:var(--space-m);
    flex-direction:column;
}

.tip-card .tip-details h6{
    position:relative;
    display:inline-flex;
    align-items:center;
    color:var(--color-primary-hover);
    padding-bottom:var(--space-base);
}

.tip-card .tip-details h6 i{
    position:relative;
    display:inline-block;
    margin-left: var(--space-s);
    background-color: var(--color-neutral-0);
    border:1px solid var(--color-neutral-4);
    padding:6px;
    border-radius:var(--border-radius-soft);
}

.tip-card .tip-details span{
    position:relative;
    display:block;
    font-size:90%;
    color: var(--color-neutral-8);
}


.ext-plat {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    border-radius:var(--border-radius-soft);
    color: var(--color-neutral-0);
    padding: var(--space-m);
    background-image: url('../images/cardbg_outline.svg');
    background-repeat:no-repeat;
    background-position:top left;
    background-size:180px auto;
}

.ext-plat h6, .ext-plat span{
    padding:var(--space-s) var(--space-none);
}

.ext-plat span{
    height:100%;
}

.ext-plat a{
    position:relative;
    display:inline-flex;
    align-items:center;
    color:var(--color-neutral-0);
    max-width:max-content;
    font-size:80%;
    margin-top:var(--space-s);
    font-weight:600;
    padding:var(--space-s);
    border:1px solid var(--color-neutral-1);
    border-radius: var(--border-radius-soft);
    transition:all 0.35s ease;
}

.ext-plat a i{
    margin-left: var(--space-s);
}

.ext-plat a:hover{
    background:var(--color-neutral-0);
}


.profile-header{
    position:relative;
    display:block;
    width:100%;
    padding:var(--space-base);
    background-color:var(--color-neutral-0);
    border:1px solid var(--color-neutral-4);
    border-radius: var(--border-radius-rounded) var(--border-radius-rounded) var(--border-radius-none)  var(--border-radius-none);
}


.profile-header .profile-head-info{
    position:relative;
    display:flex;
    align-items:center;
    width:100%;
}

.profile-header .profile-head-info img{
    border-radius: var(--border-radius-circle);
    width:64px;
    border:1px solid var(--color-neutral-4);
    margin-right:var(--space-base);
}

.profile-header .profile-head-info h4{
    color:var(--color-neutral-7);
}

.profile-header .profile-userids{
    position:relative;
    display:flex;
    align-items:center;
    padding-top:var(--space-xs);
    font-size:85%;
    color:var(--color-neutral-7);
}

.profile-header .profile-userids span{
    position:relative;
    display:inline-block;
    margin-left: var(--space-xs);
}

.profile-header .profile-userids em{
    font-style:normal;
    margin-left: var(--space-s);
}

.profile-header .profile-userids button{
    background-color:transparent;
    border:0px;
    color: var(--color-primary)
}

.profile-header .profile-head-action{
    position:relative;
    display:flex;
    float:right;
    height:100%;
    align-items: center;
    
}

.nav-pills {
    position: relative;
    background-color: var(--color-neutral-0);
    padding: var(--space-base);
    border: 1px solid var(--color-neutral-4);
    border-top-color: var(--color-neutral-4);
    border-radius: var(--border-radius-none) var(--border-radius-none) var(--border-radius-rounded) var(--border-radius-rounded);
}

.nav-link:focus, .nav-link:hover{
    color:var(--color-primary);
    background-color: var(--color-neutral-3);
}

.nav-link {
    color: var(--color-neutral-7);
    margin-left: var(--space-s);
    padding: 0.74rem var(--bs-nav-link-padding-x);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: var(--color-primary);
}


.profile-content{
    position:relative;
    display:block;
    margin-bottom:var(--space-m);
}

.tab-data{
    padding-top:var(--space-s);
}

.tab-data .tab-header{
    padding-bottom:var(--space-base);
}

.tab-data .tab-header .tab-title{
    color:var(--color-primary);
}

.tab-data .tab-subhead{
    padding-bottom:var(--space-base);

}

.tab-data .tab-subhead .tab-subtitle{
    height:48px;
    line-height:48px;
}

.tab-data .tab-subhead .tab-subaction{
    height:48px;
}

.tab-data .tab-subhead .tab-subtitle h3 {
    position:relative;
    display:block;
    height:100%;
    line-height:48px;
    font-size: 120%;
    color: var(--color-neutral-8);
}
/* ---- FOOTER STYLE ---- */
footer {
    background-color: var(--color-primary);
    color: var(--color-neutral-0);
    padding: var(--space-base) var(--space-none) var(--space-none);
}

footer .footer-raw{
    position:relative;
    display:block;
    width:100%;
    padding: var(--space-base) var(--space-none) var(--space-l);
}

footer .footer-raw.first-raw{
    border-bottom:1px solid var(--color-neutral-2);
}

footer .footer-raw ul{
    position: relative;
    display:inline-block;
    padding: var(--space-none);
    margin:  var(--space-none);
    list-style:none;
}

footer .footer-raw ul li{
    position:relative;
    display:inline-block;
}

footer .footer-raw ul li a{
    color: var(--color-neutral-0);
    font-size:85%;
}

footer .footer-raw.first-raw .footer-menu li{
    margin-left:var(--space-base);
}

footer .footer-raw.first-raw .social-menu, footer .footer-copyright{
    float:right;
}

footer .footer-raw.first-raw .social-menu li{
    margin-right:var(--space-base);
}

footer .footer-images, footer .footer-copyright{
    position:relative;
    display: inline-block;
}

footer .footer-images img{
    margin-left:var(--space-base);
}

footer .footer-copyright{
    font-size:80%;
}



@media (max-width : 1200px){
    .tip-card .tip-details{
        padding:var(--space-base);
    }
}

@media (max-width : 990px){
    .container{
        min-width:92%;
    }
}

@media (max-width : 790px) {
    footer .footer-images, footer .footer-copyright, footer .footer-raw ul {
        display: block;
        width: 100%;
        text-align: center;
        float: none;
        margin-bottom: var(--space-base);
    }

    footer .footer-raw.first-raw{
        padding-bottom:var(--space-base);
    }

    footer .footer-raw.second-raw{
        padding-top: var(--space-m);
    }

    .prog-cards {
        grid-template-columns:49% 49%;
    }

    .prog-cards .external-card{
        display:none;
    }

    .tip-card{
        display:block;
    }

    .home-extplats .col-lg-4{
        padding-bottom:var(--space-base);
    }
}


.tab-data .tab-subhead .tab-subaction {
    height: 48px;
    text-align: right;
}

.note.note-info {
    color: #4B5563;
}

.note {
    position: relative;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    padding: var(--space-base);
    border: 1px solid var(--color-neutral-4);
    border-radius: var(--border-radius-soft);
    margin-bottom: var(--space-m);
    font-size: 90%;
}

.gicon.filled {
    font-variation-settings: 'FILL' 1;
}

.note i {
    margin-right: var(--space-s);
    color: inherit;
    width: max-content;
    padding-left: 0;
}


table.hrdf-table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    table-layout: fixed;
    margin-bottom: var(--space-base);
    outline: 1px solid var(--color-neutral-4);
    outline-offset: -1px;
    border-radius: var(--border-radius-soft);
}


    table.hrdf-table tr {
        border: 1px solid var(--color-neutral-4);
        padding: var(--space-xs);
    }

    table.hrdf-table thead tr {
        background-color: #E9ECEF;
        color: var(--color-neutral-8);
    }

    table.hrdf-table tbody tr:nth-child(2n+2) {
        background-color: var(--color-neutral-1);
    }

    table.hrdf-table td {
        padding: var(--space-base) var(--space-s) var(--space-base) var(--space-m);
        color: var(--color-neutral-7);
    }

        table.hrdf-table td a {
            color: #017AAD;
        }

        table.hrdf-table td span {
            position: relative;
            display: block;
            width: 100%;
            font-weight: 300;
            font-size: 85%;
        }

    table.hrdf-table th {
        padding: var(--space-base) var(--space-s) var(--space-base) var(--space-m);
        font-size: 100%;
        text-transform: uppercase;
    }

        table.hrdf-table th span {
            position: relative;
            display: block;
            font-weight: normal;
            font-size: 90%;
        }

@media screen and (max-width: 980px) {
    .note-info {
        flex-direction: row !important;
        flex-wrap: nowrap;
        align-items: normal;
    }

        .note-info span {
            padding-left: 40px;
        }

    .home-stats > div {
        margin-bottom: var(--space-s);
    }
}




@media screen and (max-width: 789px) {
    table.hrdf-table {
        border: 0;
        max-width: 100%;
    }

    .form-label {
        min-height: unset;
    }

    table.hrdf-table caption {
        font-size: 1.3em;
    }

    table.hrdf-table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        display: none;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table.hrdf-table tr {
        border-bottom: 1px solid var(--color-primary);
        display: block;
    }

    table.hrdf-table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: left;
    }

        table.hrdf-table td:before {
            position: relative;
            display: inline-block;
            content: attr(data-label);
            float: left;
            font-weight: bold;
            margin-right: 15px;
        }

        table.hrdf-table td:last-child {
            border-bottom: 0;
        }


    .owl-carousel .owl-item .item-image {
        position: relative;
        min-height: 160px;
        margin-bottom: var(--space-base);
    }
}


.tblaction > a {
    width: 32px;
    height: 32px;
    background-color: var(--color-neutral-3);
    color: var(--color-neutral-6);
    border: 0px;
    border-radius: var(--border-radius-circle);
}

.tblaction .dropdown-toggle::after {
    display: none !important;
}

.tblaction .dropdown-menu {
}

    .tblaction .dropdown-menu li {
        border-bottom: 1px solid var(--color-neutral-3);
    }

        .tblaction .dropdown-menu li:last-child {
            border-bottom: 0px none transparent;
        }

        .tblaction .dropdown-menu li a {
            display: flex;
            align-items: center;
            font-size: 90%;
            color: var(--color-primary);
        }

            .tblaction .dropdown-menu li a i {
                font-size: 110%;
                margin-right: 10px;
            }


.note span {
    width: max-content;
    padding: 0;
}

.small-head {
    position: relative;
    display: block;
    padding-top: var(--space-base);
    padding-bottom: var(--space-s);
    font-size: 80%;
    font-weight: 600;
    color: var(--color-primary);
}

#map {
    min-height: 300px;
}

.modal-title {
    color: var(--color-primary);
}

.modal-actions {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.modal-actions .action-right {
    width: 100%;
}


.bank-results {
    background-color: #F9FAFB;
    border-radius: var(--border-radius-soft);
    border: 1px solid var(--color-neutral-3);
    padding: var(--space-base);
}

    .bank-results .bank-result {
        position: relative;
        display: flex;
        width: 100%;
        font-size: 90%;
    }

.btn-validate {
    height: 48px;
    padding-right: var(--space-base);
    padding-left: var(--space-base);
    background-color: #00AC65 !important;
    font-weight: normal;
}

.bank-results .bank-result > i {
    margin-right: var(--space-base);
}

.bank-result .bank-record {
    position: relative;
    display: inline-flex;
    flex-direction: column;
}

    .bank-result .bank-record label {
        padding-bottom: var(--space-s);
    }

    .bank-result .bank-record span {
        position: relative;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        font-weight: 600;
    }

        .bank-result .bank-record span i {
            margin-left: var(--space-s);
        }




.cv-tools {
    margin-bottom: 12px;
}

    .cv-tools > div {
        display: flex;
    }

.cv-lst {
    width: 300px;
}

.custom-list {
    width: 100%;
}

.cv-lst > .dropdown-toggle {
    width: 100%;
    height: 56px;
    line-height: 56px;
    display: flex;
    border-color: var(--color-neutral-4);
    background-color: var(--color-neutral-0);
}

    .cv-lst > .dropdown-toggle:hover, .cv-lst > .dropdown-toggle:active {
        background-color: var(--color-neutral-1);
        color: var(--color-primary);
    }

.cv-lst .dropdown-toggle label {
    width: 100%;
    text-align: left;
    font-size: 90%;
    padding-left: 4px;
    color: var(--color-primary);
}

.cv-lst .dropdown-toggle span {
    margin: 0 8px;
    line-height: 25px;
}

.cv-lst .dropdown-toggle i {
    transition: all 0.35s ease;
    color: var(--color-primary);
}

.cv-lst .dropdown-toggle.show i {
    transform: rotate(180deg);
}

.cv-lst .dropdown-menu {
    width: 100%;
    padding: 0;
    font-size: 90%;
}

    .cv-lst .dropdown-menu li a {
        display: inline-flex;
        align-items: center;
        padding: 12px 12px 12px 8px;
        border-bottom: 1px solid var(--color-neutral-4);
        color: var(--color-primary);
    }

        .cv-lst .dropdown-menu li a.add-cv {
            font-weight: 600;
        }

        .cv-lst .dropdown-menu li a label {
            width: 100%;
        }

        .cv-lst .dropdown-menu li a i {
            margin-right: 5px;
        }

.cv-tool {
    position: relative;
    display: flex;
    align-items: center;
}

.switch-control {
    position: relative;
    display: inline-flex;
}

    .switch-control > span {
        width: max-content;
    }


.cv-tool .dropdown {
    margin-left: 10px;
}

    .cv-tool .dropdown > .dropdown-toggle {
        height: 46px;
        width: 46px;
    }

    .cv-tool .dropdown .dropdown-menu li a {
        display: inline-flex;
        align-items: center;
        padding: 8px 12px;
    }

        .cv-tool .dropdown .dropdown-menu li a i {
            margin-right: 8px;
        }

.textarea-counter {
    position: relative;
    display: block;
    width: 100%;
}

    .textarea-counter textarea {
        padding-bottom: 25px;
    }

    .textarea-counter span.counter {
        position: absolute;
        bottom: 5px;
        right: 13px;
        background-color: var(--color-neutral-0);
        font-size: 85%;
        color: var(--color-neutral-6);
        padding: 1px 5px;
        border-radius: 4px;
    }

.form-label sup {
    font-weight: 700;
    color: var(--color-primary-light);
    font-size: 90%;
}

.switch-control {
    position: relative;
    display: inline-flex;
}

    .switch-control > span {
        width: max-content;
    }


.switch {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 24px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }


.switch-label {
    padding: 0 10px;
    color: var(--color-primary);
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: var(--color-primary);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }



.page-actions {
    position: relative;
    display: flex;
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-neutral-0);
    padding: var(--space-base) var(--space-none);
    border-top: 1px var(--color-neutral-3) solid;
}

    .page-actions.sticky {
        position: fixed;
        bottom: 0;
        z-index: 1000;
    }

    .page-actions .btn {
        margin: var(--space-none) var(--space-base);
    }

.discard-txt {
    font-size: 80%;
}

.text-bg-info-light {
    background-color: var(--color-blue-lightest);
    color: var(--color-blue-darker);
}



.page-header {
    position: relative;
    display: block;
    width: 100%;
    background-color: var(--color-neutral-0);
    border-radius: var(--border-radius-soft);
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: var(--shadow-m);
    background-image: url(../images/headBG.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
}

.prog-details {
    position: relative;
    display: flex;
    width: 100%;
}

    .prog-details .prog-icon {
        position: relative;
        display: inline-flex;
        margin-right: 15px;
    }

    .prog-details .prog-title {
        color: var(--color-primary);
        padding-top: 10px;
    }

        .prog-details .prog-title small {
            font-weight: normal;
            font-size: 80%;
        }

.page-content {
    background-color: var(--color-neutral-0);
    border-radius: var(--border-radius-soft);
    margin-bottom: 30px;
    padding: 25px;
}

.content-subtitle {
    color: var(--color-primary);
    font-size: 110%;
    padding-bottom: 20px;
}

.content-box {
    border: 1px var(--color-neutral-4) solid;
    padding: 20px 15px !important;
    border-radius: var(--border-radius-soft);
    color: var(--color-neutral-7);
    margin-bottom: 25px;
}

.content-list {
    list-style-type: decimal-leading-zero;
}

    .content-list li {
        position: relative;
        z-index: 1;
        margin-bottom: 20px;
        padding-left: 20px;
        line-height: 32px;
    }

        .content-list li::marker {
            background-color: aqua;
            width: 20px;
            height: 20px;
            position: relative;
            z-index: 2;
            font-size: 80%;
            color: var(--color-blue-light);
            font-weight: 600;
        }

        .content-list li:before {
            content: "";
            position: absolute;
            left: -30px;
            background-color: var(--color-blue-lightest);
            z-index: -1;
            display: inline-block;
            width: 32px;
            height: 32px;
            border-radius: var(--border-radius-circle);
        }


.hrdf-qtable {
    position: relative;
    display: table;
    width: 100%;
    border-radius: var(--border-radius-soft);
    border-radius: 20px;
    margin-top: 30px;
}

    .hrdf-qtable tr td {
        width: 50%;
    }



    .hrdf-qtable tr td, .hrdf-qtable th {
        border: 1px solid var(--color-neutral-4);
        padding: 12px 10px;
    }

        .hrdf-qtable tr td:first-child, .hrdf-qtable tr th:first-child {
            border-right: 0px transparent solid;
        }

        .hrdf-qtable tr td:nth-child(2), .hrdf-qtable tr th:nth-child(2) {
            border-left: 0px transparent solid;
        }

    .hrdf-qtable thead th {
        background-color: var(--color-neutral-5)
    }

.content-docs {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

    .content-docs .content-doc {
        border: 1px var(--color-neutral-4) solid;
        border-radius: var(--border-radius-soft);
        box-shadow: var(--shadow-s);
        position: relative;
        display: inline-flex;
        width: 100%;
        margin: 0 5PX 10PX;
        padding: 13PX;
        transition: all 0.35s ease;
    }

        .content-docs .content-doc:hover {
            background-color: var(--color-neutral-1);
        }

        .content-docs .content-doc img {
            margin-right: 10px;
        }

        .content-docs .content-doc span {
            display: flex;
            flex-direction: column;
            color: var(--color-neutral-8);
            font-size: 95%;
        }

            .content-docs .content-doc span em {
                position: relative;
                font-style: normal;
                font-size: 80%;
            }

            .content-docs .content-doc span i {
                position: absolute;
                right: 15px;
                top: 20px;
                font-weight: 100;
            }


.page-actions .btn {
    min-width: 100px;
}


.prog-cards.owl-2 .prog-cards-item {
    width: 100%;
}




.appointment-card {
    position: relative;
    display: flex;
    width: 100%;
    padding: 20px;
    border: 1px var(--color-neutral-5) solid;
    border-radius: var(--border-radius-soft);
}

.appointment-date {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;
}

    .appointment-date span {
        background-color: var(--color-blue-lightest);
        color: var(--color-blue-dark);
        border-radius: var(--border-radius-circle);
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 110%;
        font-weight: 600;
    }

    .appointment-date em {
        font-style: normal;
        font-size: 85%;
        padding-top: 5px;
        color: var(--color-blue-dark);
    }

.appointment-info {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    font-size: 85%;
}

    .appointment-info h5 {
        font-size: 110%;
        padding-bottom: 7px
    }

    .appointment-info .user-location, .appointment-info time {
        color: var(--color-neutral-7);
    }

    .appointment-info time {
        padding-top: 10px;
        padding-bottom: 12px;
    }

    .appointment-info span.badge {
        position: relative;
        display: inline-block;
        width: max-content;
        padding: 8px;
        font-size: 90%;
    }

.appointment-number {
    position: absolute;
    right: 20px;
    font-size: 85%;
    color: var(--color-neutral-8);
    font-weight: 600;
}





/* CV */

.cv-holder {
    position: relative;
    display: block;
    width: 100%;
}

.cv-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-8);
    page-break-inside: avoid !important;
    position: relative !important;
    overflow-x: visible !important;
    page-break-before: auto;
    page-break-after: auto;
    height: fit-content;
}

.cv-header {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
    background-color: var(--color-neutral-2);
    border-radius: var(--border-radius-soft) var(--border-radius-soft) var(--border-radius-none) var(--border-radius-none);
}

    .cv-header img {
        position: relative;
        display: inline-flex;
        width: fit-content;
        margin: 0 auto;
        border-radius: var(--border-radius-circle);
    }

    .cv-header h1 {
        position: relative;
        display: block;
        margin: 30px 15px 20px;
        text-align: center;
        align-content: center;
    }

    .cv-header span {
        position: relative;
        display: block;
        margin: 10px 15px 20px;
        text-align: center;
        align-content: center;
    }

    .cv-header ul {
        position: relative;
        display: inline-block;
        width: fit-content;
        margin: 0 auto;
        padding: 0;
    }

        .cv-header ul li {
            position: relative;
            display: inline-block;
            height: 40px;
            vertical-align: central;
            line-height: 40px;
            margin: 0px 10px;
        }

            .cv-header ul li a {
                color: var(--color-neutral-8);
            }

            .cv-header ul li i {
                position: relative;
                display: inline-block;
                padding-top: 8px;
                vertical-align: top;
                margin-right: 5px;
            }

            .cv-header ul li.ltr-content em {
                position: relative;
                display: inline-block;
                direction: ltr;
                font-style: normal;
            }

.cv-action {
    position: absolute;
    display: block;
    width: calc(100% - 40px);
    top: 20px;
    text-align: left;
    padding: 40px;
    z-index: 10;
}


    .cv-action a:first-child {
        position: relative;
        display: inline-block;
        background-color: var(--color-primary);
        width: 46px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        vertical-align: middle;
        border-radius: var(--border-radius-soft);
        color: var(--color-neutral-0);
    }

    .cv-action a i {
        font-size: 170%;
        height: 46px;
        line-height: 1.6;
    }

    .cv-action a:last-child {
        position: relative;
        display: inline-block;
        float: right;
    }

.cv-block {
    position: relative;
    display: block;
    flex-direction: column;
    padding: 15px 15px 8px;
    border: 1px var(--color-neutral-4) solid;
    border-radius: var(--border-radius-soft);
    margin-bottom: 25px;
    page-break-inside: avoid !important;
    height: fit-content;
}

@media print {
    .cv-block {
        display: table !important;
    }

        .cv-block, .cv-container, .cv-block * {
            display: block !important;
            width: 100%;
            page-break-inside: avoid !important;
        }
}

.cv-block h2 {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--color-neutral-2);
    border-radius: var(--border-radius-soft);
    padding: 15px 0px;
    font-size: 100%;
    vertical-align: top;
    margin-bottom: 20px;
}

    .cv-block h2 i {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: 160%;
        font-variation-settings: 'FILL' 1;
    }

.cv-content ul {
    position: relative;
    display: block;
    margin: 0px;
    padding: 0 10px;
    list-style: none;
}

    .cv-content ul li {
        display: inline-flex;
        width: 100%;
        margin-bottom: 30px;
    }

        .cv-content ul li .cv-iten-details {
            position: relative;
            display: inline-flex;
            flex-direction: column;
            width: 100%;
        }

            .cv-content ul li .cv-iten-details h6 {
                padding-bottom: 10px;
            }

        .cv-content ul li date {
            display: inline-flex;
            width: max-content;
            min-width: max-content;
        }

.cv-content h4 {
    position: relative;
    display: block;
    padding: 30px 10px 20px;
    font-size: 110%;
    border-top: 1px var(--color-neutral-3) solid;
}

    .cv-content h4:first-child {
        border-top: 0px transparent none;
        padding-top: 5px;
    }


.cv-print {
    position: absolute;
    width: 290mm;
    z-index: -1;
    top: -10000px;
}












